.image-select{
    height: 27vh;
    border-radius: 10px;
    border: 2px dashed #3a2c8d;
    display: flex;
    align-items: center;
    justify-content: center;
    .icon-drag{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    h3{
        color: #3a2c8d;
    }
}
.btn-upload{
    cursor: pointer;
    background-color: #3a2c8d;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
}