.profile-post {
  padding: 2vh;
  height: auto;
  &__introduce {
    padding: 2vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.07);
  }
  .preview-image {
    width: 15vh;
    height: 15vh;
    margin: 0.5vh;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      transition: 150ms ease-in-out;
      &:hover{
        transform: scale(0.95,0.95);
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }
  .preview-friends{
    width: 15vh;
    height: 18vh;
    margin: 0.5vh;
    img {
        object-fit: cover;
        width: 100%;
        height: 80%;
        border-radius: 10px;
        transition: 150ms ease-in-out;
        &:hover{
          transform: scale(0.95,0.95);
          opacity: 0.8;
          cursor: pointer;
        }
      }
      span{
          font-weight: 500;
      }
  }
}
