.confidential-container {
  margin-top: 21px;
  .title {
    margin-left: 2vh;
    color: #3a2c8d;
  }
  .add-btn,
  .update-btn {
    width: 100px;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 9px;
    margin: 3px;
    border-radius: 5px;
    color: #3a2c8d;
  }
  .add-btn {
    background: #3a2c8d;
    color: white;
    &:active{
        background: #5947c2;
    }
  }
  .update-btn {
    background: white;
    color: #3a2c8d;
    &:active{
        background: rgb(221, 221, 221);
    }
  }
  .tab-container{
    height: 590px;
    .ant-tabs-content-holder{
      background: #fff;
      margin-right: 2vh;
      border-radius: 5px;
      box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.07);
      padding-top: 1vh;
      overflow-y: scroll;
      overflow-x: hidden;
      &::-webkit-scrollbar{
        display: none;
      }
    }
  }
}
//page post
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.confidential-post{
  margin-top: 21px;
  margin-left: 2vh;
  margin-right: 2vh;
  &__head{
    font-size: 1.5rem !important;
    font-family: "Quicksand", sans-serif;
    color: #3a2c8d !important;
    border-top-color: unset !important ;
  }
  &__body{
    background: #fff;
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.07);
    border-radius: 10px;
    padding: 15px;
    font-size: 1.15rem;
    color: #787878;
  }
}

.confidential-modal{
  .ant-modal-header{
    background-color: #3a2c8d;
    border-radius: 10px 10px 0 0;
  }
  .ant-modal-content{
    border-radius: 10px;
  }
  .ant-modal-close-x{
    display: none;
  }
  .ant-modal-title{
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
  }
  .rc-textarea{
    font-family: "Quicksand", sans-serif;
    font-size: 1.15rem;
    color: #787878;
    width: 100%;
    resize: none;
  }
  .ant-form-item-control-input-content{
    display: flex;
    justify-content: flex-end;
  }
}