@font-face {
    font-family: "Roboto Bold";
    src: url("/public/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Medium";
    src: url("/public/fonts/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto Light";
    src: url("/public/fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Bold";
    src: url("/public/fonts/Roboto-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("/public/fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat Light";
    src: url("/public/fonts/Roboto-Light.ttf") format("truetype");
}